/murach/book_apps/ch01_product_discount/nbproject/private/
/murach/book_apps/ch02_future_value/nbproject/private/
/murach/book_apps/ch02_product_discount/nbproject/private/
/murach/book_apps/ch04_product_manager/nbproject/private/
/murach/book_apps/ch04_product_viewer/nbproject/private/
/murach/book_apps/ch05_guitar_shop/nbproject/private/
/murach/book_apps/ch11_task_manager/nbproject/private/
/murach/book_apps/ch12_cart/nbproject/private/
/murach/book_apps/ch13_cart/nbproject/private/
/murach/book_apps/ch14_guitar_shop/nbproject/private/
/murach/book_apps/ch15_register_long/nbproject/private/
/murach/book_apps/ch15_register_short/nbproject/private/
/murach/book_apps/ch20_guitar_shop/nbproject/private/
/murach/book_apps/ch20_guitar_shop_mysqli/nbproject/private/
/murach/book_apps/ch21_admin/nbproject/private/
/murach/book_apps/ch21_admin_basic/nbproject/private/
/murach/book_apps/ch21_ssl/nbproject/private/
/murach/book_apps/ch22_youtube_search/nbproject/private/
/murach/book_apps/ch23_upload_image/nbproject/private/
/murach/book_apps/ch24_guitar_shop/nbproject/private/
/murach/ex_starts/ch02_ex1/nbproject/private/
/murach/ex_starts/ch02_ex2/nbproject/private/
/murach/ex_starts/ch04_ex1/nbproject/private/
/murach/ex_starts/ch05_ex1/nbproject/private/
/murach/ex_starts/ch06_ex1/nbproject/private/
/murach/ex_starts/ch06_ex2/nbproject/private/
/murach/ex_starts/ch06_ex3/nbproject/private/
/murach/ex_starts/ch07_ex1/nbproject/private/
/murach/ex_starts/ch07_ex2/nbproject/private/
/murach/ex_starts/ch08_ex1/nbproject/private/
/murach/ex_starts/ch08_ex2/nbproject/private/
/murach/ex_starts/ch09_ex1/nbproject/private/
/murach/ex_starts/ch09_ex2/nbproject/private/
/murach/ex_starts/ch10_ex1/nbproject/private/
/murach/ex_starts/ch11_ex1/nbproject/private/
/murach/ex_starts/ch12_ex1/nbproject/private/
/murach/ex_starts/ch12_ex2/nbproject/private/
/murach/ex_starts/ch13_ex1/nbproject/private/
/murach/ex_starts/ch14_ex1/nbproject/private/
/murach/ex_starts/ch15_ex1/nbproject/private/
/murach/ex_starts/ch15_ex2/nbproject/private/
/murach/ex_starts/ch19_ex1/nbproject/private/
/murach/ex_starts/ch20_ex1/nbproject/private/
/murach/ex_starts/ch21_ex1/nbproject/private/
/murach/ex_starts/ch21_ex2/nbproject/private/
/murach/ex_starts/ch22_ex1/nbproject/private/
/murach/ex_starts/ch23_ex1/nbproject/private/
/murach/ex_starts/ch24_ex2/nbproject/private/
/murach/